@import "./fonts.css";

/* Fonts */
/* @font-face {
  font-family: "UntitledSans-Light";
  src: url("./assets/font/UntitledSans-Light.otf");
};

@font-face {
    font-family: "UntitledSans";
    src: url("./assets/font/UntitledSans-Regular.otf");
  };
  @font-face {
    font-family: "UntitledSans-Medium";
    src: url("../assets/font/UntitledSans-Medium.otf");
  };
  @font-face {
    font-family: "UntitledSans-SemiBold";
    src: url("../assets/font/UntitledSans-SemiBold.otf");
  };
  @font-face {
    font-family: "UntitledSans-Bold";
    src: url("./assets/font/UntitledSans-Bold.otf");
  };
*/
body{
    margin: 0;
  font-family: 'Inter';
    /* font-family: 'UntitledSans' !important; */
  } 
  *{
box-sizing: border-box; 
border: none;
 }